body{
    background-color:black;
    margin: 0;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(pic/spotted.png);
    background-position: center;
    background-size: cover;
}

.logo{
    cursor: pointer;
}



.navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0 10px;
}

.navlinks li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
}




.search-form button{
    cursor: pointer;
    background-color: rgb(29, 29, 29);
    color: white;
    border: solid rgb(29, 29, 29);
}

.search-form input{
    margin-right: 4px;
}
/* 
.post-image-for-carosel{
    width: 400px;
    height: 400px;
} */


.post-container{
    display: flex;
    /* border: solid white 1px; */
    border-radius: 10px;
    background-color: #fff;
    width: 50%;
    height: 220px;
    margin: 20px auto;
    justify-content: space-between;
    overflow: hidden;
}

.title-content{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    overflow: hidden;
}

@font-face {
    font-family: chicks;
    src: url(./fonts/ChickenLovers.ttf);
}

@font-face {
    font-family: micks;
    src: url(./fonts/GreatVibes-Regular.ttf);
}

.title{
    color:cornflowerblue;
    padding: 0 50px;
    font-family: micks;
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
}



.content{
    padding: 10px 20px;
    margin-top: 0;
    color: black;
    font-size: 1.4rem;
    font-family: chicks;
}

.post-container img{
    height: 100%;
    border-radius: 0 10px 10px 0;
}
.buttons{
    margin: 50px;
    display: flex;
    justify-content: center;
    height: 30px;
}

.btn-info{
    background-color:black;
    color: white;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
}

.btn-outline-info{
    background-color: #fff;
    padding: 5px;
    text-decoration: none;
    color:black;
    margin-left: 10px;
}

/* 
=============================================================================================================
=============================================================================================================
------------------------------------------------Single Post -------------------------------------------------
=============================================================================================================
=============================================================================================================
 */

.single-post-container{
    display: flex;
    flex-direction: row-reverse;
}
.main-content-container{
    width: 80%;
}

@font-face {
    font-family: title;
    src: url(./fonts/Prisma.otf);
}
.single-title{
    font-size: 3rem;
    margin-bottom: 40px;
    font-family: title;
    text-align: center;
    color:cornflowerblue;
}
.content-padding{
    padding: 0 50px;
    margin-bottom: 50px;
}

.single-content {
    color: black;
    background-color: #fff;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 50px;
    margin-bottom: 50px;
}
.side-pannel{
    width: 20%;
    background-color: #fff;
}

.sticky{
    position: sticky;
    top: 30px;
    margin-left: 20%;
}

.comment-form{
    width: 80%;
}

.comment-form textarea{
    width: 100%;
    height: 200px;
}

.user-link{
    cursor: pointer;
    text-decoration: none;
}

.side-pannel h1, h3{
    padding: 0 10px 0 0;
    color: black;
}

.image-container{
    height: 400px;
}
.image-container img{
    height: 100%;
}

/* #84a78d
    #b9c49b
    #2f4858
    #598881
    #3d6870*/


/* olive green
    #51787c
    #979677
    #e4e4c7
    #80652a
    #2c4d50
*/

/* another olive green
    #1c4015
    #54915f
    #9ad5d3
    #d4ccc0
    #adaac7 */

/* #84a78d */