{% extends 'layout.html' %}
{% block content %}
    <div class="new-post">
        <form method="POST" action=' ' enctype="multipart/form-data" class="post-form">
            {{form.hidden_tag()}}
            <fieldset>
                <div class="form-div">
                    {{form.title.label}}
                    {% if form.title.errors%}
                        {{ form.title(class="form-group form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.title.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{ form.title }}
                    {% endif%}
                </div>
                <div class="form-div">
                    {{form.content.label}}
                    {% if form.content.errors%}
                        {{ form.content(class="form-group form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.content.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{ form.content }}
                    {% endif%}
                </div>
                <div class="form-div">
                    {% for image in form.image %}
                        {{image.label}}
                        {% if image.errors%}
                            {{ image(class="form-group form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {%for error in image.errors%}
                                    <span>{{error}}</span>
                                {%endfor%}
                            </div>
                        {%else%}
                            {{ image }}
                        {% endif%}
                    {% endfor %}
                </div>
                <div class="form-div">
                    {{form.location.label}}
                    {% if form.location.errors%}
                        {{ form.location(class="form-group form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.location.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{ form.location }}
                    {% endif%}
                </div>
                <div class="form-div">
                    {{form.city.label}}
                    {% if form.city.errors%}
                        {{ form.city(class="form-group form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {%for error in form.city.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{ form.city }}
                    {% endif%}
                </div>
            </fieldSet>
            <div class="submit-div">
                {{form.submit}}
            </div>
        </form>
    </div>
{% endblock content %}