<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{url_for('static', filename='main.css')}}">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>D'jurnal</title>
    {% endif %}
</head>
<body>
    {% if current_user.is_authenticated %}
    <header>
        <a href="{{url_for('index')}}"><img src="{{url_for('static', filename='pic/djurnal.png')}}" class='logo'></a>
        <nav>
            <ul class='navlinks'>
                <li><a href='{{url_for('index')}}'>Home</a></li>
                <li><a href='{{url_for('create_post')}}'>New Post</a></li>
                <li><a href='{{url_for('update_account')}}'>Update Account</a></li>
                <li><a href='{{url_for('logout')}}'>Log Out</a></li>
                <li><form method="POST" action='{{url_for('search')}}' class="search-form">
                    {{form.hidden_tag()}}
                    <input type="text" class="bg-white outline-none w-80 text-black h-12 text-center text-xl rounded-lg" placeholder="Search" arai-label="Search" name="searched">
                    <button class=" btn btn-success w-24 " type="submit">Go</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    {% else %}
    <header>
        <img src="{{url_for('static', filename='pic/djurnal.png')}}" class='logo'>
        <nav>
            <ul class='navlinks'>
                <li><a href='{{url_for('index')}}'>Home</a></li>
                <li><a href='{{url_for('reg')}}'>Register</a></li>
                <li><a href='{{url_for('login')}}'>Login</a></li>
            </ul>
        </nav>
    </header>
    {% endif %}
    {%  with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <span>{{message}}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
</body>
</html>