{% extends 'layout.html' %}
{% block content %}
        <div class="single-post-container">
            <div class='side-pannel'>
                <div class="sticky">
                    <a href="{{url_for('single_user', id=post.author.id)}}" class="user-link">
                        <img class='profile-pic' src="{{url_for('static', filename='pic/' + post.author.pic)}}" />
                        <h1 class="name">{{post.author.first_name}} {{post.author.last_name}}</h1>
                    </a>
                    <h3>Leave your comments here</h3>
                    <form method="POST" action='' >
                        {{form.hidden_tag()}}
                            <div class="comment-form">
                                {{form.comment.label}}
                                {% if form.comment.errors%}
                                    {{ form.comment(class="form-group form-control-lg is-invalid")}}
                                    <div class="invalid-feedback">
                                        {%for error in form.comment.errors%}
                                            <span>{{error}}</span>
                                        {%endfor%}
                                    </div>
                                {%else%}
                                    {{ form.comment(id="comment-input") }}
                                {% endif%}
                            </div>
                            <div class="post-btn" id="comment-btn" >
                                {{form.submit}}
                            </div>
                    </form>
                </div>
            </div>
            <div class='main-content-container'>
                <div class='title-and-content'>
                    <p class='single-title'>{{post.title}}</p>
                    <div class="content-padding">
                        <div class="single-content" > {{post.content}}
                            <div class='image-container'>
                                {% for i in images %}
                                    <img class='post-image-for-carosel' src="{{url_for('static', filename='pic/' + i.pic)}}">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if comments %}
                    <p class='single-title'>Comments</p>
                {% endif %}
                <div class="content-padding">
                    <div class="comment-list">
                        {% for comment in comments %}
                            <div class="single-content">
                                <div id="name-date-flex">
                                    <span id="commenter">~{{ comment.commenter.first_name}} {{ comment.commenter.last_name}}~</span>
                                    <span id="comment-date">~{{comment.date_posted}}~</span>
                                </div>
                                <div id="comment-text">{{comment.comment}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}